@{
    ViewData["Title"] = "За града";
}

<div class="container mt-2">
    <h2>Информация за града</h2>
    <hr />
    <div class="row mt-3">
        <div class="col-md-8">
            <h6>Кратка история на града</h6>
            <p>
                &#160 Ста̀ра Заго̀ра е град в Южна България, един от основните икономически центрове в страната, както и основен транспортен възел на Южна България. Той е център на едноименните община, област и регионална асоциация на общините РАО Тракия. Градът е шестият по големина в страната с население от 136 475 души по данни на ГРАО към 15.12.2021 г. и образува петата по големина градска агломерация в България с население от 213 444 жители (към септември 2007 г.), както и център на 5-ата по големина област в България с население към 31 декември 2016 г. от 321 377 души. Стабилното икономическо развитие на региона му отрежда второ място по БВП на глава от населението в страната.

                В града се намира най-старият в Тракия български театър – Драматичен театър „Гео Милев“, античният Форум на Августа Траяна, а на 14 km от центъра на града е разположен националният балнеологичен курорт Старозагорски минерални бани. През 1925 г. е открита втората след София опера в страната – Южнобългарската опера (днес Държавна опера Стара Загора), а през 1895 г. – първият градски парк от европейски тип в България – Аязмото. В града се намират още и Музеят на религиите и музей „Неолитни жилища“.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img style="width:400px;" class="rounded-3 img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Stara_Zagora_in_Bulgaria.svg/1200px-Stara_Zagora_in_Bulgaria.svg.png" />
            <p>територия на област Стара Загора</p>
        </div>

    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-md-8">
            <h6>Ден днешен - структура и състав</h6>
            <p>
                Към ден днешен кмет на Стара Загора е Живко Тодоров, избран за трети мандат през 2019-та година.
                <br /><br /><b>Заместник кметове:</b>
                <ul>
                    <li>ЙОРДАН ПЕТРОВ НИКОЛОВ</li>
                    <li>ЯНЧО ДИМИТРОВ КАЛОЯНОВ</li>
                    <li>ИВАНКА ВЛАДИМИРОВА СОТИРОВА</li>
                    <li>КРАСИМИРА КОЛЕВА ЧАХОВА</li>
                    <li>МИЛЕНА ИВАНОВА СТОЯНОВА – ЖЕЛЕВА</li>
                </ul>
                <b>Главен секретар</b>
                <ul>
                    <li>ДЕЛЯН НЕЙКОВ ИВАНОВ</li>
                </ul>
                <b>Главен архитект</b>
                <ul>
                    <li>АРХ. ВИКТОРИЯ ГРИГОРИЕВА ГРОЗЕВА</li>
                </ul>
                <b>Обществен посредник</b>
                <ul>
                    <li>НАДЕЖДА ЧАКЪРОВА - НИКОЛОВА</li>
                </ul>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img style="width:400px;" class="rounded-3 img-thumbnail" src="https://trud.bg/public/images/articles/2019-06/13-01-zhivko-todorov_5792555707673987171_big.jpg" />
            <p>кметът на Стара Загора Живко Тодоров</p>
        </div>

    </div>
</div>
