@{
    ViewData["Title"] = "Политика на сайта";
}

<div class="container shadow-lg mt-3">
    <h2 class="pb-3">Правила и политика на сайта</h2>
    <h6>Сайтът е с цел учебна дейност.</h6>
    <p>
        Материалите и линковете до картинките са взети от
        <ul>
            <li><a href="https://www.starazagora.bg/bg/">Сайтът на община Стара Загора</a></li>
            <li><a href="https://www.google.bg/imghp?hl=en&authuser=0&ogbl"> Гугъл изображения</a></li>
        </ul>
    </p>
    <h6>Изработил Димитър Стоянов  УниБит Фак.№:46354р</h6>
    <img class="align-items-center" src="https://edu.unibit.bg/pluginfile.php/1/core_admin/logo/0x150/1629808407/UB.jpg" />
</div>

