@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля проверете вашия имейл за линк, с който ще смените паролата си.
</p>

