@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Услуги</h2>
    <div class="shadow-lg pb-5">
        <div class="text-center">
            <b>Услуги със свободен достъп</b>
        </div>
        <hr />
        <div class="row text-center ml-3 pt-3 pb-3 shadow-lg">
            <div class="col-md-6">
                <a class="btn btn-success" href="https://www.starazagora.bg/bg/zayavlenie-za-zapisvane-za-priemen-den">
                    Заявление за записване за приемен ден
                </a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-success" href="https://www.starazagora.bg/bg/zayavlenie-za-podavane-na-signal-za-koruptsiya">
                    Заявление за подаване сигнал за корпуция
                </a>
            </div>

        </div>
        <br />
        <div class="text-center">
            <b>Услуги с универсален електронен подпис</b>
        </div>
        <hr />
        <div class="row text-center pl-3 pt-3 pb-3 shadow-lg">
            <div class="col-md-6">
                <a class="btn btn-success" href="https://www.starazagora.bg/bg/zayavlenie-za-podavane-na-signal-za-koruptsiya">
                    Издаване на удостоверение за раждане (дубликат)
                </a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-success ml-3" href="https://www.starazagora.bg/bg/zayavlenie-za-podavane-na-predlozheniya-i-signali">
                    Издаване на удостоверение за постоянен адрес
                </a>
            </div>
        </div>
    </div>
</div>

